<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="InnoEditor">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="B" member="no">
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BUILDBUTTON" variable="m_build" member="yes">
							<bitmap code="wxBitmap(run_xpm)" />
							<size>25,25</size>
							<handler function="OnbuildClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTreeCtrl" name="ID_TREECTRL1" variable="TreeCtrl1" member="yes">
							<image_list>ImageList</image_list>
							<tree_items>
								<item>TreeCtrl1</item>
								<item>ImageList</item>
								<item>0,#000000,0,0,-1,-1,-1,root</item>
								<item>1,#000000,0,1,-1,-1,-1,Script</item>
								<item>1,#000000,0,2,-1,-1,-1,Files</item>
								<item>1,#000000,0,3,-1,-1,-1,Folders</item>
								<item>1,#000000,0,4,-1,-1,-1,Icons</item>
								<item>1,#000000,0,5,-1,-1,-1,Ini</item>
								<item>1,#000000,0,6,-1,-1,-1,Tasks</item>
								<item>1,#000000,0,7,-1,-1,-1,Registry</item>
								<item>1,#000000,0,8,-1,-1,-1,Language</item>
								<item>1,#000000,0,9,-1,-1,-1,Types</item>
								<item>1,#000000,0,10,-1,-1,-1,Components</item>
								<item>1,#000000,0,11,-1,-1,-1,Messages</item>
								<item>1,#000000,0,12,-1,-1,-1,Custom Messages</item>
								<item>1,#000000,0,13,-1,-1,-1,Pascal Code</item>
								<item>1,#000000,0,14,-1,-1,-1,Install Run</item>
								<item>1,#000000,0,15,-1,-1,-1,Install Delete</item>
								<item>1,#000000,0,16,-1,-1,-1,Uninstall Run</item>
								<item>1,#000000,0,17,-1,-1,-1,Uninstall Delete</item>
							</tree_items>
							<items_text>
								<item2>TreeCtrl1</item2>
								<item2>ImageList</item2>
								<item2>0,#000000,0,0,-1,-1,-1,root</item2>
								<item2>1,#000000,0,1,-1,-1,-1,Script</item2>
								<item2>1,#000000,0,2,-1,-1,-1,Files</item2>
								<item2>1,#000000,0,3,-1,-1,-1,Folders</item2>
								<item2>1,#000000,0,4,-1,-1,-1,Icons</item2>
								<item2>1,#000000,0,5,-1,-1,-1,Ini</item2>
								<item2>1,#000000,0,6,-1,-1,-1,Tasks</item2>
								<item2>1,#000000,0,7,-1,-1,-1,Registry</item2>
								<item2>1,#000000,0,8,-1,-1,-1,Language</item2>
								<item2>1,#000000,0,9,-1,-1,-1,Types</item2>
								<item2>1,#000000,0,10,-1,-1,-1,Components</item2>
								<item2>1,#000000,0,11,-1,-1,-1,Messages</item2>
								<item2>1,#000000,0,12,-1,-1,-1,Custom Messages</item2>
								<item2>1,#000000,0,13,-1,-1,-1,Pascal Code</item2>
								<item2>1,#000000,0,14,-1,-1,-1,Install Run</item2>
								<item2>1,#000000,0,15,-1,-1,-1,Install Delete</item2>
								<item2>1,#000000,0,16,-1,-1,-1,Uninstall Run</item2>
								<item2>1,#000000,0,17,-1,-1,-1,Uninstall Delete</item2>
							</items_text>
							<size>205,460</size>
							<extra_code>$(THIS)-&gt;SetItemText(TreeCtrl1__Item1, m__name);</extra_code>
							<style>0</style>
							<handler function="OnTreeCtrl1ItemActivated" entry="EVT_TREE_ITEM_ACTIVATED" />
						</object>
						<flag>wxRIGHT|wxEXPAND</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<hidden>1</hidden>
					<extra_code>sizer-&gt;Add($(THIS), 1, wxEXPAND, 5);</extra_code>
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer3" member="no">
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
										<label>Label</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxEXPAND</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxListCtrl" name="ID_LISTCTRL1" variable="ListCtrl1" member="yes">
								<style>wxLC_REPORT|wxLC_SINGLE_SEL|wxLC_HRULES</style>
							</object>
							<flag>wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxImageList" variable="ImageList" member="yes">
			<image_list>
				<item>22</item>
				<item>22</item>
			</image_list>
			<image_text>
				<item2>22</item2>
				<item2>22</item2>
			</image_text>
			<image_width>22</image_width>
			<image_height>22</image_height>
			<extra_code>$(THIS)-&gt;Add(wxBitmap(inno__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(script__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(files__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(folder__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(icon__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(ini__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(tasks__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(registry__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(language__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(types__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(components__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(msg__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(custom__msg__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(pas__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(install__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(install__del__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(uninstall__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(uninstall__del__xpm));&#x0A;$(THIS)-&gt;Add(wxBitmap(steps__xpm));&#x0A;</extra_code>
		</object>
	</object>
</wxsmith>
